Repository CrowdStrike/falcon-scripts, pull requests merged in 2023-12, with the labels that each got.

#227 update README about the --get-pull-token param
  bash/containers/falcon-container-sensor-pull/README.md
Labels: documentation

#229 docs: add statement of support
  README.md
  SUPPORT.md
Labels: documentation

#232 fix: allow sorting for kpagent
  .gitignore
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bash, container, next release, bugfix

#231 Update readme
  README.md
  bash/README.md
  bash/containers/README.md
  powershell/README.md
  systemd/README.md
Labels: documentation

#236 feat: add support for listing tags for podman/skopeo
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release

#237 fix: cleanup container script formatting
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bash, container, next release

#238 chore: add workflow for shell formatting
  .github/workflows/shell_format.yml
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
Labels: bash, linux, ci/cd

#239 fix: fix issue with redirect on powershell install script
  powershell/install/falcon_windows_install.ps1
Labels: powershell, windows, ok-to-test, next release, bugfix

#243 chore: update sles ec2 image for workflows
  .github/workflows/bash_install.yml
  .github/workflows/bash_install_decrement.yml
  .github/workflows/bash_install_only.yml
  .github/workflows/bash_install_policy.yml
Labels: ci/cd, bugfix
