Repository CrowdStrike/falcon-scripts, pull requests merged in 2023-07, with the labels that each got.

#177 Bump version v1.1.3
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: next release

#178 Linux install script fix for when multiple tags applied
  bash/install/falcon-linux-install.sh
Labels: bug, bash, linux, ok-to-test

#180 Refactor Falcon Linux Installer Script for better support
  bash/install/falcon-linux-install.sh
Labels: enhancement, bash, linux, ok-to-test

#181 Migrate Ansible Molecule Tests from Docker/Vagrant to EC2 Backend
  .github/workflows/bash_install.yml
  .github/workflows/bash_install_decrement.yml
  .github/workflows/bash_install_only.yml
  .github/workflows/bash_install_policy.yml
  .github/workflows/ci-linux.yml
  .github/workflows/ci-windows.yml
  .github/workflows/pwsh_install_ccid.yml
  .github/workflows/pwsh_install_policy.yml
  .github/workflows/pwsh_migrate.yml
  README.md
  molecule/bash_install/molecule.yml
  molecule/bash_install_decrement/molecule.yml
  molecule/bash_install_only/molecule.yml
  molecule/bash_install_policy/molecule.yml
  molecule/pwsh_install_ccid/INSTALL.md
  molecule/pwsh_install_ccid/converge.yml
  molecule/pwsh_install_ccid/molecule.yml
  molecule/pwsh_install_policy/INSTALL.md
  molecule/pwsh_install_policy/converge.yml
  molecule/pwsh_install_policy/molecule.yml
  molecule/pwsh_migrate/INSTALL.md
  molecule/pwsh_migrate/converge.yml
  molecule/pwsh_migrate/molecule.yml
  molecule/shared/playbooks/create.yml
  molecule/shared/playbooks/destroy.yml
  molecule/shared/playbooks/verify.yml
  molecule/shared/playbooks/win_create.yml
  molecule/shared/playbooks/win_verify.yml
Labels: powershell, bash, windows, linux, migrate-script, molecule

#186 Add support for Kubernetes Protection Agent
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release

#189 bump v1.1.4
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: next release

#190 fix copy image command in script falcon-container-sensor-pull.sh
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bug, bash, container, next release
