Repository CrowdStrike/falcon-scripts, pull requests merged in 2023-11, with the labels that each got.

#220 feat(container-sensor-pull): add ability to filter tags by platform
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container

#201 Add Kubernetes Pull Token for specific sensor_type
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, container, next release

#218 fix: Adding error message on CS registry password api issue and optimizing cred-dump output
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bash, container, bugfix

#221 fix: azure metadata service changed error codes
  bash/install/falcon-linux-install.sh
Labels: bug, linux, ok-to-test, bugfix

#223 bump v1.1.8
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#224 fix: update prepare.yml in migrate ci
  molecule/pwsh_migrate/prepare.yml
Labels: bugfix
