Repository CrowdStrike/falcon-scripts, pull requests merged in 2023-08, with the labels that each got.

#192 Add dump-credentials support for Kubernetes Protection
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bug, bash, container

#194 bump 1.1.5
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: next release

#195 fix(migrate): set tls upfront + change log method
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: bug

#193 Simplify and Enhance Sensor Type Selection in Falcon Container Sensor Pull Script
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release
