Repository CrowdStrike/falcon-scripts, pull requests merged in 2024-06, with the labels that each got.

#305 workflow updates for ansible molecule testing
  .github/workflows/bash_install.yml
  .github/workflows/bash_install_decrement.yml
  .github/workflows/bash_install_only.yml
  .github/workflows/bash_install_policy.yml
  .github/workflows/pwsh_install_ccid.yml
  .github/workflows/pwsh_install_policy.yml
  .github/workflows/pwsh_migrate.yml
  .github/workflows/pwsh_uninstall.yml
Labels: ci/cd

#307 fix(container-pull): fix issue with artifactory incorrect tags + add version info
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, container, bugfix

#285 Add functionality to retrieve, and use a pre-generated auth token for authentication in powershell scripts.
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
Labels: enhancement, powershell, windows

#310 Carlosmmatos/issue309
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
Labels: documentation, bash

#311 chore: bump 1.4.2
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#313 fix(bash install): update falcon-linux-install.sh role to take advantage of v2 sensor_download module
  bash/install/falcon-linux-install.sh
Labels: enhancement, bash, linux, ok-to-test, next release

#315 docs(container-pull): update verbiage surrounding kernel mode for daemonset
  bash/containers/falcon-container-sensor-pull/README.md
Labels: documentation, container, next release

#317 feat(container-pull): auto-detect container tool when not specified
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release

#318 CSPG-36014 Support download for stage containers
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, internal

#320 fix(windows_install): add better error handling around exitcode
  powershell/install/falcon_windows_install.ps1
Labels: powershell, windows, ok-to-test, bugfix

#323 fix(container-pull): update scopes and better error handling
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: documentation, bash, container, next release, bugfix

#324 fix(windows_install): remove tolower() from update policy name
  powershell/install/falcon_windows_install.ps1
Labels: powershell, windows, bugfix

#325 feat(container-pull): add fcs type for iac image pull
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release

#326 chore: bump v1.5.0
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
Labels: release

#327 chore: bump to 1.5.1 due to missed files from last release
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#328 docs(container-pull): forgot to add fcs api scopes
  bash/containers/falcon-container-sensor-pull/README.md
Labels: documentation

#329 fix(container-pull): hotfix to fix new issue with multi-arch tagging
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: bash, container, bugfix

#330 fix: update gpg key for bash install
  bash/install/falcon-linux-install.sh
Labels: ok-to-test, bugfix

#331 chore: bump v1.5.2
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release
