Repository CrowdStrike/falcon-scripts, pull requests merged in 2024-08, with the labels that each got.

#346 Update falcon_windows_uninstall.ps1
  powershell/install/falcon_windows_uninstall.ps1
Labels: powershell, windows, next release

#345 fix(pwsh-migrate): remove unnecessary paren ending and add space
  powershell/migrate/falcon_windows_migrate.ps1
Labels: powershell, windows, ok-to-test, migrate-script, next release, bugfix

#347 fix(container-pull): fixes issue with passing full sensor version
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: container, next release, bugfix

#351 fix(pwsh-install): handle falcon tags argument as an array
  powershell/install/falcon_windows_install.ps1
Labels: powershell, windows, ok-to-test, next release, bugfix

#356 bump v1.5.4
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#358 feat(bash install): add ability to prepare the sensor for gold images
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
Labels: enhancement, bash, linux, next release

#360 fix: make linux error for unsupported sensor clearer
  bash/install/falcon-linux-install.sh
Labels: enhancement, bash, linux, next release

#359 feat(bash install): add api retrieval for provisioning token
  bash/install/README.md
  bash/install/falcon-linux-install.sh
Labels: enhancement, bash, linux, ok-to-test, next release

#361 fix(bash install): fix issue with positional param usage
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
Labels: bash, linux, next release, bugfix

#362 bump: v1.6.0
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#364 ci: remove centos7 due to eos
  .github/workflows/bash_install.yml
  .github/workflows/bash_install_decrement.yml
  .github/workflows/bash_install_only.yml
  .github/workflows/bash_install_policy.yml
Labels: ci/cd

#365 fix(container-pull): checking for 403 can cause issues if CID has that value
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: container, bugfix
