Repository CrowdStrike/falcon-scripts, pull requests merged in 2024-11, with the labels that each got.

#380 fix: use regex for uninstaller name and search results by regex
  powershell/install/falcon_windows_uninstall.ps1
Labels: powershell, windows, ok-to-test, bugfix

#381 chore: bump v1.7.0
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  bash/install/falcon-linux-uninstall.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: next release

#382 fix(pwsh migrate): fix regex for uninstaller
  powershell/migrate/falcon_windows_migrate.ps1
Labels: ok-to-test, bugfix

#385 feat(container-pull-script): add new SHRA images
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, container

#386 chore: match regex to ansible uninstall regex
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/falcon_windows_migrate.ps1
Labels: powershell, windows, ok-to-test
