Repository CrowdStrike/falcon-scripts, pull requests merged in 2024-01, with the labels that each got.

#249 feat: add proxy support to pwsh uninstall script
  powershell/install/falcon_windows_uninstall.ps1
Labels: enhancement, powershell, windows, ok-to-test, next release

#250 feat(container-pull-script): add support for falcon snapshot scanner
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: documentation, enhancement, bash, container, linux, next release

#251 chore: bump v1.2.0
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release

#252 Add the param to get the correct CID depending the agent-type
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, next release

#253 Get image repository and latest tag without downloading image
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, linux, next release

#254 update script output to make it more usuable with automation
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, linux, next release

#255 feat(container-sensor-pull): add repository to list-tags output
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, linux, next release

#256 feat(container-sensor-pull): add IAR type
  bash/containers/falcon-container-sensor-pull/README.md
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
Labels: enhancement, bash, container, linux, next release

#257 bump v1.3.0
  bash/containers/falcon-container-sensor-pull/falcon-container-sensor-pull.sh
  bash/install/README.md
  bash/install/falcon-linux-install.sh
  powershell/install/README.md
  powershell/install/falcon_windows_install.ps1
  powershell/install/falcon_windows_uninstall.ps1
  powershell/migrate/README.md
  powershell/migrate/falcon_windows_migrate.ps1
Labels: release
